<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Happy Birthday Shubham Sir</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/try.css">

</head>
<style>
    body {
        background-image: url("../static/images/SL_120920_38660_49.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    @font-face {
        font-family: jumble_family;
        src: url("../static/fonts/Serpentine-yw3n3.ttf");
    }

    h1 {
        font-family: jumble_family;
        font-size: 120px;
        color: beige
    }
</style>

<body class="text-center pt-5">
    <img src="../static/images/1.jpeg" class="mt-5 pt-3" style="width: 300px;transform: rotate(7.5deg);  "> 
    <div class="container">
        <a class="button button-play active" href="/do_you_remember"></a>
    </div>
</body>
<script>
    setTimeout(()=>{
        $(".button-play").removeClass("active");
    }, 5000)
</script>
</html>